
WindowsApp/.vs/WindowsApp/v16/Browse.VC.db
WindowsApp/.vs/WindowsApp/v16/Browse.VC.opendb
WindowsApp/.vs/WindowsApp/v16/ipch/AutoPCH/2df2346caeff0237/APPLICATION.ipch
WindowsApp/.vs/WindowsApp/v16/ipch/AutoPCH/e8b53c8928ba9bb4/APPLICATION.ipch
WindowsApp/WindowsApp.vcxproj.user
WindowsApp/WindowsApp.vcxproj.filters
WindowsApp/WindowsApp.vcxproj
WindowsApp/.vs/WindowsApp/v16/.suo
WindowsApp/Debug/Application.obj
WindowsApp/Debug/vc142.idb
WindowsApp/Debug/vc142.pdb
WindowsApp/Debug/WindowsApp.exe
WindowsApp/Debug/WindowsApp.ilk
WindowsApp/Debug/WindowsApp.log
WindowsApp/Debug/WindowsApp.pdb
WindowsApp/Debug/WindowsApp.tlog/CL.command.1.tlog
WindowsApp/Debug/WindowsApp.tlog/CL.read.1.tlog
WindowsApp/Debug/WindowsApp.tlog/CL.write.1.tlog
WindowsApp/Debug/WindowsApp.tlog/link.command.1.tlog
WindowsApp/Debug/WindowsApp.tlog/link.read.1.tlog
WindowsApp/Debug/WindowsApp.tlog/link.write.1.tlog
WindowsApp/Debug/WindowsApp.tlog/WindowsApp.lastbuildstate
