
WindowsApp/.vs/WindowsApp/v16/Browse.VC.db
WindowsApp/.vs/WindowsApp/v16/Browse.VC.opendb
WindowsApp/.vs/WindowsApp/v16/ipch/AutoPCH/2df2346caeff0237/APPLICATION.ipch
WindowsApp/.vs/WindowsApp/v16/ipch/AutoPCH/e8b53c8928ba9bb4/APPLICATION.ipch
WindowsApp/WindowsApp.vcxproj.user
WindowsApp/WindowsApp.vcxproj.filters
WindowsApp/WindowsApp.vcxproj
